:root {
  /* linear-background-color */
  --linear-dark-blue: rgb(3, 2, 38);
  --linear-medium-blue: rgb(32, 28, 103);
  --linear-light-blue: rgb(61, 58, 129);

  --dark-blue: #1c3879;
  --medium-blue: #607eaa;
  --dark-beige: #eae3d2;
  --light-beige: #f9f5eb;
  --almost-black: #1b2430;
  --medium-blue-purple: #51557e;
  --medium-purple: #816797;
  --light-green-yellow: #d6d5a8;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: var(--medium-blue-purple);
  overflow: hidden;
}
span {
  color: var(--medium-purple);
}
.container-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    var(--linear-dark-blue),
    var(--linear-medium-blue),
    var(--linear-light-blue)
  );
}
.container-game {
  width: 325px;
  margin: auto;
  padding-top: 6vh;
}
.grid-top-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.btn {
  margin: auto;
}
button {
  width: 95px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background: var(--medium-blue-purple);
  color: var(--light-green-yellow);
}
.bottom-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}
.img-block {
  border: 3px solid var(--almost-black);
}
/* table */
@media only screen and (min-width: 500px) {
  .container-game {
    width: 400px;
  }
}
/* desktop */
@media only screen and (min-width: 1010px) {
  body {
    font-size: 1.5rem;
  }
  .container-game {
    width: 50%;
    padding-top: 10vh;
  }
}
